:root {
    --pale-blue: hsl(225, 100%, 94%);
    --bright-blue: hsl(245, 75%, 52%);
    --very-pale-blue: hsl(225, 100%, 98%);
    --desaturated-blue: hsl(224, 23%, 55%);
    --dark-blue: hsl(223, 47%, 23%);
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    user-select: none;
}

body {
    min-height: 100vh;
    background-color: var(--pale-blue);
    background-image: url('images/pattern-background-desktop.svg');
    background-repeat: no-repeat;
    background-size: contain;
    font-family: 'Red Hat Display', serif;
    font-size: 16px;
}

.card-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 450px;
    background-color: #ffffff;
    border-radius: 20px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.card-image-container img {
    width: 100%;
    border-radius: 20px 20px 0 0;
}

.content-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    padding: 2rem;
}

.content-container h1 {
    color: var(--dark-blue);
    font-size: 1.75rem;
    font-weight: 900;
}

.content-container p {
    padding: 0 1rem;
    color: var(--desaturated-blue);
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.5;
    text-align: center;
}

.plan-details-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    padding: 1.4rem;
    background-color: var(--very-pale-blue);
    border-radius: 10px;
}

.plan-details {
    display: flex;
    align-items: center;
    gap: 20px;
}

.plan-details div {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.plan-details div span:first-child {
    color: var(--dark-blue);
    font-weight: 900;
}

.plan-details div span:last-child {
    color: var(--desaturated-blue);
    font-weight: 700;
}

.plan-change-option a {
    color: var(--bright-blue);
    font-size: .9rem;
    font-weight: 900;
    transition: all ease 200ms;
}

.plan-change-option a:hover,
.plan-change-option a:active {
    opacity: .7;
    text-decoration: none;
}

.buttons-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    width: 100%;
    margin-top: .5rem;
}

.order-finalize-button {
    width: 90%;
    padding: 1rem;
    background-color: var(--bright-blue);
    border: none;
    border-radius: 10px;
    outline: none;
    color: var(--very-pale-blue);
    font-family: 'Red Hat Display', sans-serif;
    font-size: 1rem;
    font-weight: 900;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    cursor: pointer;
    transition: all ease 200ms;
}

.order-finalize-button:hover {
    opacity: .7;
}

.order-cancel-button {
    width: 90%;
    padding: 1rem;
    background-color: transparent;
    border: none;
    border-radius: 10px;
    outline: none;
    color: var(--desaturated-blue);
    font-family: 'Red Hat Display', sans-serif;
    font-size: 1rem;
    font-weight: 900;
    cursor: pointer;
    transition: all ease 200ms;
}

.order-cancel-button:hover {
    color: var(--dark-blue);
}

@media only screen and (max-width: 576px) {
    body {
        background-color: var(--pale-blue);
        background-image: url('images/pattern-background-mobile.svg');
        background-repeat: no-repeat;
        background-size: contain;
    }

    .card-container {
        width: 400px;
    }

    .content-container {
        padding: 1.5rem;
    }

    .content-container p {
        padding: 0 1.5rem;
        font-size: 1.1rem;
        font-weight: 700;
        line-height: 1.75;
    }

    .plan-details-container {
        width: 100%;
    }

    .plan-change-option a {
        font-size: 1rem;
    }

    .order-cancel-button {
        width: 100%;
        font-size: 1.1rem;
    }

    .order-finalize-button {
        width: 100%;
        padding: 1.3rem;
        font-size: 1.1rem;
    }
}
